body {
    font-family: 'Arial', sans-serif;
    background-color: #dddddd;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:nth-child(even) {
    background-color: #fff; /* Set even row color to white */
}

li:nth-child(odd) {
    background-color: #ddd; /* Set odd row color to gray */
}

a {
    text-decoration: none;
    color: #3498db;
    margin-left: 10px;
    cursor: pointer;
}

a:hover {
    color: #1c6da8;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #1c6da8;
}

input[type="text"],
input[type="date"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="date"] {
    width: 150px;
}

input[type="text"]:focus,
input[type="date"]:focus {
    outline: none;
    border-color: #3498db;
}
/* In style.css */
body {
    perspective: 1000px; /* Adjust the perspective value as needed */
  }
  
  .container {
    transform-style: preserve-3d;
    transition: transform 13s ease-in-out;
  }
  
   /* Add some spacing between form elements */
   form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 05px;
}
  